<!-- <div class="container-fluid mt-1">
  <div class="row">
    <div class="col-sm-6 m-auto">
      <div class="card w-100">
        <form [formGroup]="taskForm">
        <div class="card-header border-0">
          <div class="row text-center">
            
            <h2 class="text-dark  mt-2">Change Password</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div>
              <label for="" class="form-label text-dark">Old Password</label>
              <input
                type="text"
                name=""
                
                class="form-control"
                formControlName="task_name"
              />
            </div>
            <div>
              <label for="" class="form-label text-dark">New Password</label>
              <input
                type="text"
                name=""
                
                class="form-control"
                formControlName="task_description"
              />
            </div>
            <div>
              <label for="" class="form-label text-dark">Confirm Password</label>
              <input
                type="text"
                name=""
               
                class="form-control"
                formControlName="task_duration"
              />
            </div>
            

            <div class="text-end">
             
              <button class="btn text-white btn w-100 p-2 mt-4">
                <b>Change Password</b>
              </button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container mt-4">
  <h3 class="text-primary mb-4">Change Password</h3>
  <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Current Password</label>
      <input
        type="password"
        formControlName="currentPassword"
        class="form-control"
        placeholder="Enter current password"
      />
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        type="password"
        formControlName="newPassword"
        class="form-control"
        placeholder="Enter new password"
      />
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label"
        >Confirm New Password</label
      >
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        placeholder="Re-enter new password"
      />
    </div>

    <div *ngIf="form.errors?.['passwordMismatch']" class="text-danger mb-3">
      New passwords do not match.
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="passwordForm.invalid"
    >
      Change Password
    </button>
  </form>
</div> -->

<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-sm-6 m-auto">
      <div class="card w-100">
        <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
          <div class="card-header border-0">
            <div class="row text-center">
              <h2 class="text-dark mt-2">Change Password</h2>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div>
                <label class="form-label text-dark">Old Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
              </div>

              <div>
                <label class="form-label text-dark">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="newPassword"
                />
              </div>

              <div>
                <label class="form-label text-dark">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                />
              </div>

              <!-- <div
                *ngIf="form.errors?.['passwordMismatch']"
                class="text-danger mt-2"
              >
                New passwords do not match.
              </div> -->
              <div *ngIf="passwordForm && passwordForm.errors?.['passwordMismatch']" class="text-danger mt-2">
                New passwords do not match.
                </div>


              <div class="text-end">
                <button
                  type="submit"
                  class="btn btn-success w-100 p-2 mt-4"
                  [disabled]="passwordForm.invalid"
                >
                  <b>Change Password</b>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
