<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-sm-6 m-auto">
      <div class="card w-100">
        <form [formGroup]="branchForm">
        <div class="card-header border-0">
          <div class="row">
            <h3></h3>
            <h2 class="text-dark mt-2">Create Branch</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div>
              <label for="" class="form-label text-dark"></label>
              <input
                type="text"
                name=""
                placeholder="Branch Name *"
                class="form-control"
                formControlName="branch_name"
              />
            </div>
            <div>
              <label for="" class="form-label text-dark"></label>
              <input
                type="text"
                name=""
                placeholder="Mobile Number *"
                class="form-control"
                formControlName="phone_number"
              />
            </div>
            <div>
              <label for="" class="form-label text-dark"></label>
              <input
                type="text"
                name=""
                placeholder="Email *"
                class="form-control"
                formControlName="email"
              />
            </div>
            <div>
              <label for="" class="form-label text-dark"></label>
              <input
                type="text"
                name=""
                placeholder="Address"
                class="form-control"
                formControlName="address"
              />
            </div>

            <div class="text-end">
              <button class="btn btn-primary text-dark btn w-25 p-2 mt-4">
                <b>Close</b>
              </button>
              <button class="btn btn-primary text-dark btn w-25 p-2 mt-4" (click)="save()">
                <b>Save</b>
              </button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
