
.toast-top-center {
  top: 12px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: auto !important;
  right: auto !important;
  position: fixed !important;
  z-index: 99999 !important;
}

.toast {
  background-color: #ffffff !important;
  border: 2px solid black !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  color: black !important;
  display: table !important;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
